# Crawler
Scrapy==2.6.1

# sql
PyMySQL==1.0.2

# config parser
configparser==5.2.0

# splash
scrapy-splash==0.8.0

# python .env
python-dotenv==0.20.0

# parser date
dateparser==1.1.1

# lxml
lxml==4.9.1

# slugify
python-slugify==6.1.2

